<div class = main-container>
  <div class = form-container>
    <div class = form-area>
      <h2 class = form-title>Potepan Shareでまだ体験したことのない旅をしよう</h2>
      <label>エリア</label>
      <input type = "text">
      <input class = "top-submit" type = "submit" value = "探す">
    </div>
  </div>
</div>

