/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  margin:0;
 }

 header{
  background-color: black;
  height:65px;
 }

 .header-left{
  margin-left:20px;
  float:left;
 }
 
 footer{
  background-color:black;
  width:100%;
  
}
.footer-right{
  text-align:right;
}

.signup-link{
  text-decoration: none;
  background-color:dodgerblue;
  color:white;
  border-radius: 5px;
  padding:10px;
}
.header-right{
  float:right;
  margin-top: 10px;
  margin-right:10px;
  list-style:none;
}
.header-right li{
  float:right;
}

.login-link{
  text-decoration: none;
  background-color:gray;
  color:white;
  border-radius: 5px;
  padding:10px;
  margin:30px;
  
}

.login-container{
  height:650px;
}

.form{
  max-width: 600px;
  border:solid 1px lightgrey;
  box-shadow: 5px 5px lightgray;
  border-radius: 10px;
  text-align: center;
  padding:20px 0;
  margin:150px auto;
}

.btn{
  text-decoration: none;
  background-color:dodgerblue;
  border: none;
  color:white;
  padding:10px;
  border-radius: 5px;
  margin:20px;
  width:75%;
}

.input{
  width:75%;
  height:30px;
  margin:10px;
  border:solid 1px lightgrey;
}

.user-name{
  color:aliceblue;
  margin-top: 10px;
  margin-right:20px;
}

.icon-image{
  height:50px;
  width:50px;
  border-radius:50%;
  margin-right: 40px;
}
.menu{
  cursor: default;
  
}
.ddmenu li{
  background-color:black;
  float:none;
  list-style: none;
  margin-right:10px;
  position:relative;
  top:20px;
  left:-50px;
  
}
.ddmenu a{
  color:white;
  text-decoration: none;
  display:inline-block;
  padding:0 20px;
}

.item{
  margin-top:10px;
}

.gnav li li{
  height:0;
  overflow: hidden;
  z-index: 10;
}
.gnav li:hover > ul > li {
  height: 2rem;
  overflow: visible;
  
}