// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-form{
  max-width: 600px;
  border:solid 1px lightgrey;
  text-align: center;
  padding:20px 0;
  margin:70px auto;
}

.update-content{
  border-bottom:solid 1px lightgrey ;
  margin:0 20px;
  text-align: left;
}

.update-content h2{
  font-weight: normal;
  display:flex;
}

.update-content p{
  display:flex;
}

.update-input{
  width:90%;
  height:30px;
  margin:10px 0;
  border:solid 1px gray;
  display:flex;
}

.update-content textarea{
  display:flex;
  width:90%;
  height:90px;
  margin:10px 0;
}

.update-btn{
  text-decoration: none;
  background-color:dodgerblue;
  border: none;
  color:white;
  padding:10px 0;
  border-radius: 5px;
  margin:20px 0;
  width:90%;
  
}
.update-content a{
  margin-right:20px;
  font-size:25px;
  
  
}
.active-link{
  color:deepskyblue;
  
}
.another-link{
  text-decoration: none;
  color:black;
  
}
.another-link:hover{
  color:deepskyblue;
}
.user-links{
  padding:30px;
  border-bottom:solid 2px darkgray ;
  margin:0;
}
.edit-btn{
  text-decoration: none;
  background-color:dodgerblue;
  border: none;
  color:white;
  padding:10px 50px;
  border-radius: 5px;
  margin:100px 0;
}
.edit-btn-container{
  border-bottom:solid 1px lightgrey ;
  margin:0 20px;
  text-align: left;
  height:50px;
  position:relative;
}
.btn-box{
  position:absolute;
  top: 25%;
}
.back-btn{
  text-decoration: none;
  border: solid 1px black;
  color:dodgerblue;
  padding:10px 250px;
  border-radius: 5px;
  margin-left:30px;
  width:35px;
  display: block;
}
